<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head', {headerTitle: 'Junos Configuration Generator'}); %>
</head>

<body>
    <div id="wrapper">
        <header>
            <%- include('./partials/header'); %>
        </header>
        <section class="banner">
            <img src="images/index_splash.png" />
            <div class="inner-content col-md-12">
                <div class="container jumboContainer">
                    <div class=" col-md-8 middle">
                        <h1>Build configurations<br/>
                            <span>in your web browser</span>
                        </h1>
                    </div>
                    <div class="content-right col-md-4">
                        <h3>Sign up</h3>
                        <span>Enter your desired username and password</span>
                        <div class="text-center">
                            <form name="signup" action="/auth/signUp" method="post">
                                <input type="text" name="username" id="username" placeholder="User name" style="color: black;" /><br/>
                                <input type="password" name="password" id="password" placeholder="Password" style="color: black;" /><br/>
                                <input type="submit" value="Create new user" class="btn btn-primary btn-lg"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_include">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <h3>Data Center</h3>
                        <p>Build a data center configuration</p>
                        <img src="images/index_vxlan.svg" alt="Data Center" />
                        <div class="read-more-btn">
                            <a href="/data-center" class="btn-oval">Data Center</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <h3>Security</h3>
                        <p>Build a firewall configuration</p>
                        <img src="images/index_firewall.svg" alt="Security" />
                        <div class="read-more-btn">
                            <a href="/security" class="btn-oval">Security</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <h3>Previous Configurations</h3>
                        <p>Review previously generated configurations</p>
                        <img src="images/index_configs.svg" alt="Configs" />
                        <div class="read-more-btn">
                            <a href="configs" class="btn-oval">Configurations</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </div>
    <!---------- End of Wrapper ----------->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            // alert("wow");
            //  jQuery("header").addClass("fixed");
            jQuery("#hamburger").click(function() {
                //alert("The paragraph was clicked.");
                jQuery("header").toggleClass("fixed");
            });
        });
    </script>
</body>

</html>