<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head', {headerTitle: 'Security Configuration Generator'}); %>
</head>

<body>
    <div id="wrapper">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <section class="banner">
            <img src="images/splash.png" />
            <div class="inner-content col-md-12">
                <div class="container">
                    <h1>Network Security</h1>
                    <span>Build firewall configurations for SRX</span>
                    <p>
                        <span>
                            <i class="fa fa-play"></i>
                        </span> Watch this video to see how much this tool simplifies your life.
                    </p>
                </div>
            </div>
        </section>
        <section class="sec_include">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                        <div class="col-xs-12 col-sm-4 col-md-4 mobile-adj_text">
                            <img src="images/media_rectangle.png" alt="Public" />
                        </div>
                        <h3>Site-to-Site VPN</h3>
                        <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level
                            of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the
                            circle of life.
                        </p>
                        <div class="readtext">
                            <!--<a href="#"> Read More...</a>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <img CLASS="DESKTOP-IMG" src="images/media_rectangle.png" alt="Public" />
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_include-middle">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <img src="images/media_rectangle.png" alt="Public" />
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                        <h3>New firewall policy</h3>
                        <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level
                            of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the
                            circle of life.
                        </p>
                        <div class="readtext">
                            <!--<a href="#"> Read More...</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sec_include1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8 adj_text">
                        <div class="col-xs-12 col-sm-4 col-md-4 mobile-adj_text">
                            <img src="images/media_rectangle.png" alt="Public" />
                        </div>
                        <h3>Remote Access VPN</h3>
                        <p>At the deepest level of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. I need more copy here. At the deepest level
                            of its core, technology embodies the circle of life. And from an old age Larry Shepard unlearned how to harness that circle and perpetuate it through more technology. At the deepest level of its core, technology embodies the
                            circle of life.
                        </p>
                        <div class="readtext">
                            <!-- <a href="#"> Read More...</a>-->
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 adj_text">
                        <img CLASS="DESKTOP-IMG" src="images/media_rectangle.png" alt="Public" />
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
    <!--End of Wrapper ----------->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>

</html>