<div class="container">
    <div class="main-footer col-md-12 col-xs-12">
        <div class="footer-logo col-md-3 col-sm-3 col-xs-2">
            <a href="/"><img class="desktop" src="images/banner.svg"><img class="mobileImg" src="images/favicon.png"></a>
        </div>
        <div class="links col-md-5 col-md-5 col-xs-10">
            <ul class="quick-links col-md-4 col-xs-6">
                <li><a href="/data-center">Data Center</a></li>
                <li><a href="/security">Security</a></li>
            </ul>
            <ul class="quick-links second-row col-md-4 col-xs-6">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="https://gitlab.com/_calvinr/web/javascript/floreant/">About</a></li>
                <li><a href="https://gitlab.com/_calvinr/web/javascript/floreant/-/issues">Help</a></li>
            </ul>
        </div>
    </div>
</div>
<!---container-->
<div class="video-sec col-md-4 col-sm-12 col-xs-12">
    <h1 class="video-heading text-center"><img src="images/banner.svg"></h1>
    <span class="border"></span>
    <p class="footer-p">
        This site is a proof-of-concept for building Juniper configurations. It was written and maintained by a salesman, do not trust this with your network.
    </p>
</div>